NEXT_PUBLIC_APP_NAME=NetLab Studio
NEXT_PUBLIC_APP_VERSION=0.1.0
NEXT_PUBLIC_ENABLE_DEMO_PROJECT=true
NEXT_PUBLIC_ENABLE_LOCAL_STORAGE=true
NEXT_PUBLIC_ENABLE_SIMULATION_WORKER=true

# Future backend
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
